.wrapper{
  width: 300px;
  height: 400px;
  border:1px solid #61dafb;
  border-radius:10px;
  overflow: hidden;
}
header,
.calc_box,
.input_screen,
.buttons,
.row,
.btn{
  width: 100%;
  display: flex;

}
h1{
  font-size: 3rem;
  width: 100%;
}

header{
  height: 50px;
  align-items: center;
  text-align: center;
}
.cal_box{
  height:calc(400px - 70px);
  margin-top:20px;
  flex-flow: column;
}
.input_screen{
  justify-content:flex-end;
  height: 60px;
  border:1px solid #61dafb;
  align-items: center;
  padding:0 10px;
  pointer-events: none;
}
.input_screen span{
  font-size:3rem;
}
.buttons{
  flex-direction:column;
}
.row{
  height: 67px;
  align-items:center;
  padding-left:10px;
  border-bottom: 1px solid #61dafb;
}

.btn{
  width: 50px !important;
  height: 50px;
  justify-content:center;
  align-items:center;
  background:none;
  border:1px solid #61dafb;
  border-radius:100%;
  margin: 0 10px;
  line-height:50px;
  font-size: 2rem;
  cursor: pointer;
}
.btn:hover{
  background-color: #61dafb;
  border:1px solid #61dafb;
  color: #fff;
}

@media screen and (max-width:768px){
  .wrapper {
    width: 100%;
  }
}